<%if obj.errors.any? %>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1 ">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">
        <center> 
        <%=pluralize(obj.errors.count, "error") %>
         Prohibited this article from beeing saved. 
        </center>
      </h3>
      <div class="panel-body">
        <ul>
   <% obj.errors.full_messages.each do |msg| %>

  <li><%= msg %> </li>
   <% end %>
   </ul>
<% end %>
      </div>
    </div>
   </div>
  </div>
</div>
